@import './variables.scss';
@import './alert.scss';
@import './badges.scss';
@import './buttons.scss';
@import './card.scss';
@import './breadcrumbs.scss';

* {
  box-sizing: border-box;
}

body {
  max-width: $container-width;
  margin: 0 auto;
  font-family: sans-serif;
  color: $text-color;
}
