// Variables
$container-width: 1120px !default;

// Colors
$muted-color: #6c757d !default;
$primary-color: #007bff !default;
$success-color: #28a745 !default;
$info-color: #17a2b8 !default;
$warning-color: #ffc107 !default;
$danger-color: #dc3545 !default;
$secondary-color: #6c757d !default;
$dark-color: #343a40 !default;
$text-color: #212529 !default;
$light-color: #f8f9fa !default;

// Breadcrumb Divider
$breadcrumb-divider: '/';
